include head.pug 
include header.pug 
include modal.pug
include dashboard-info.pug

<!DOCTYPE html>
head 
    title Quack-NKN - Dashboard
    script(src="https://cdn.plot.ly/plotly-2.28.0.min.js" charset="utf-8")
    +head 
body 
    +header 
    +modal
    +dashboard
