mixin head 
    script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js")
    script(src="/static/index.js")
    link(rel="stylesheet" href="/static/index.css")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon.ico")
    