mixin header
    .header(x-data="header")
        a.header-item-logo(href="/") 
            img(src="/favicon.ico")
        template(x-for="item in items")
            a.header-item(:href="item.link" x-text="item.text" :class="isOnLink(item.link) ? 'header-item-on' : ''")
