include head.pug 
include header.pug 
include modal.pug 
include toc-component.pug

<!DOCTYPE html>
head 
    title Quack-NKN - Terms of services
    +head 
body 
    +header 
    +modal 
    +toc-component
