mixin toc-component 
    .toc 
        .toc-header Terms of services 
        .toc-body 
            .toc-block 
                .toc-block-q What is users' information being tracked?
                p Basically, every text message that you key in. This includes every command, every reminder and every website that you input. However, the commands are not easily traced back to the user. This is because information being readily available for each text message is only the ID of the conversation between the user and the bot.
            .toc-block 
                .toc-block-q What is the tracked information used for?
                p The information is used mostly for debugging. We use a logger to print out all the commands so that in the case that the bot crashes, we have information on where it crashes. Furthermore, the log also aids us in improving the bot's service whenever there is a feedback submitted to us.
                p The information is also used to ensure that the bot is not misused. No matter how much we try to secure the bot, users may still try to use the bot for illegal purposes, or visit harmful websites. Our admin will not tolerate those behaviour, and will take actions accordingly. This may include a permanent ban on the user from the bot.
            .toc-block 
                .toc-block-q What information is being collected?
                p The dashboard is not up yet, and hence no information is being collected.
            .toc-block 
                .toc-block-q Is Quack NKN commercial?
                p As of now, we have no plan to make our bot commercial. Quack NKN is currently my personal project, and is also maintained by me.
        .toc-footer 
            .toc-footer-title Acknowledgements
            p This terms of services is written by Nguyen. More information about me can be found 
                a(href="https://nknguyenhc.github.io") here
                span .
            p By using my bot, you agree to my terms of services.
