.feedback {
    margin: 20px auto 200px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;

    @media (max-width: 968px) {
        align-items: center;
    }

    &-header {
        font-size: 30px;
        font-weight: 600;
    }

    &-caption {
        max-width: calc(min(750px, 90vw));
    }

    &-submit {
        width: fit-content;
        align-self: flex-end;
    }
}
