body {
    margin: 0px;
}

code {
    font-family: monospace;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 18px;
}

a {
    color: black;

    :visited {
        color: black;
    }
}

[x-cloak] {
    display: none !important;
}
