.toc {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 40px;
    
    @media (max-width: 968px) {
        padding: 20px;
    }

    &-header {
        font-size: 30px;
        font-weight: 700;
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 60vw;

        @media(max-width: 968px) {
            width: 85vw;
        }
    }

    &-block {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-q {
            font-weight: 600;
            text-align: justify;
        }

        p {
            text-align: justify;
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-title {
            font-size: 24px;
            font-weight: 600;
        }
    }
}
